---
import FooterStatus from '@components/partials/footer/FooterStatus.astro'
import RandomPosts from '@components/partials/footer/RandomPosts.astro'
import RecentComments from './partials/footer/RecentComments.astro'
---

<footer id="footer">
  <div class="inner">
    <div class="widgets">
      <RandomPosts />
      <RecentComments />
    </div>
    <FooterStatus />
  </div>
</footer>

<style lang="stylus" scoped>
  @import '../styles/_mixins';
  #footer {
    color: var(--grey-5);
    font-size: $font-size-small;
    background: var(--body-bg-shadow);
    display: flow-root;

    .inner {
      margin: 2rem auto .625rem;
      width: $content-desktop;
      position: relative;

      if (astro-config('sidebar.position') == 'left') {
        padding-left: 16.25rem;
      } else {
        padding-right: 16.25rem;
      }

      +desktop-large() {
        width: $content-desktop-large;
      }

      +desktop-largest() {
        width: $content-desktop-largest;
      }

      +tablet-mobile() {
        padding-left: 0;
        padding-right: 0;
        width: auto;
      }
    }
  }

  .widgets {
    display: flex;
    z-index: 1;
    background: var(--body-bg-shadow);
    justify-content: space-around;

    :global(> div) {
      width: calc(50% - 2rem);
      padding: 1rem;
    }

    +mobile() {
      flex-direction: column-reverse;

      :global(> div) {
        width: calc(100% - 1rem) !important;
      }
    }

    :global(ul) {
      counter-reset: counter;
    }
  }
</style>
