---
import Image from 'astro/components/Image.astro'
import { basic, footer, site } from '../utils/config'

const copyrightYear = new Date().getFullYear()
---

<div class="status">
    <div id="copyright">
        { footer.since && footer.since !== copyrightYear &&
          `&copy; ${footer.since} -`
        }
        <span itemprop="copyrightYear">
            { copyrightYear }
        </span>
        <span class="with-love">
            <i class={`ic i-${ footer.icon?.name }`}></i>
        </span>
        <span class="author" itemprop="copyrightHolder">
            { `${site.author} @ ${ site.alternate?site.alternate:site.title}` }
        </span>
    </div>
    { footer.count && <div class="count">
        { /* TODO */}
    </div>}
    { footer.powered && <div class="powered-by">
        { /* TODO */}
    </div>
    }
    {  footer.icp?.enable && <span style="display:inline;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
        <a href="https://beian.miit.gov.cn">
            { footer.icp.icpnumber }
        </a>
    }
    { footer.icp?.beian && footer.icp.recordCode && <span>
        <br>
        <a target="_blank" href={`https://beian.mps.gov.cn/#/query/webSearch?code=${footer.icp.recordCode}`}>
            <Image src={basic.statics + basic.statics + footer.icp.icon} style="max-width: 2em;display:inline;" width="20" height="20" alt="备案" />
            { footer.icp.beian }
        </a>
        </span>
    }

</div>