---
import { algolia, site, } from '@utils/config'
import { __ } from '@utils/i18n'
import ThemeButton from '@components/partials/header/ThemeButton.vue'
import NavSearch from './partials/header/NavSearch.vue'
---

<nav id="nav">
    <div class="inner">
        <div class="toggle">
            <div class="lines" aria-label={__('accessibility.nav_toggle')}>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </div>
        <ul class="menu">
            <li class="item title">
                <a href={site.url} rel="start">
                    { site.alternate || site.title }
                </a>
            </li>
        </ul>
        <ul class="right" id="rightNav">
            <li class="item theme">
                <ThemeButton client:load></ThemeButton>
            </li>
            { algolia.enable && <li class="item search">
                 <NavSearch client:load></NavSearch>
            </li> }
        </ul>
    </div>
</nav>